<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PBGMKits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PBGMService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PBSMx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6083C5461F67DFA3001573A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6083C54E1F67DFA4001573A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6083C7B91F6B6544001573A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6083C7C11F6B6544001573A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C8193A1F6669B600CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C819531F6669B700CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C8195E1F6669B700CEC5D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
